/* ==============================
   GLOBAL RESET
============================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

:root{

    /* Default Dark Theme */

    --bg-color:#0f172a;
    --bg-secondary:#1e293b;

    --text-color:#ffffff;
    --text-secondary:#cbd5e1;

    --primary:#2563eb;
    --primary-hover:#1d4ed8;

    --border-color:#334155;

    --card-bg:#1e293b;

    --shadow:0 8px 30px rgba(0,0,0,.25);

}

/* ==============================
   LIGHT THEME
============================== */

body.light{

    --bg-color:#f8fafc;
    --bg-secondary:#ffffff;

    --text-color:#111827;
    --text-secondary:#475569;

    --primary:#2563eb;
    --primary-hover:#1d4ed8;

    --border-color:#d1d5db;

    --card-bg:#ffffff;

    --shadow:0 8px 25px rgba(0,0,0,.08);

}

/* ==============================
   DARK THEME
============================== */

body.dark{

    --bg-color:#0f172a;
    --bg-secondary:#1e293b;

    --text-color:#ffffff;
    --text-secondary:#cbd5e1;

    --primary:#2563eb;
    --primary-hover:#1d4ed8;

    --border-color:#334155;

    --card-bg:#1e293b;

    --shadow:0 8px 30px rgba(0,0,0,.25);

}

/* ==============================
   BODY
============================== */

body{

    font-family:'Poppins',sans-serif;

    background:var(--bg-color);

    color:var(--text-color);

    overflow-x:hidden;

    transition:
        background-color .4s ease,
        color .4s ease;

}

/* ==============================
   LINKS
============================== */

a{

    text-decoration:none;

    color:inherit;

}

/* ==============================
   SECTIONS
============================== */

section{

    padding:100px 8%;

}

/* ==============================
   CONTAINER
============================== */

.container{

    max-width:1200px;

    margin:auto;

}

/* ==============================
   SCROLLBAR
============================== */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:var(--primary);

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:var(--bg-secondary);

}